* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(250, 150, 155), rgb(250, 75, 75));
}

.mainContainer .secondContainer {
    height: inherit;
    width: 90%;
    margin: auto;
    display: flex;
}

.secondContainer .leftContainer {
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.leftContainer .logo img {
    height: 100px;
    width: auto;
    position: absolute;
    top: 40px;
    left: 0;
}

.leftContainer img {
    height: 500px;
    width: auto;
}

.secondContainer .rightContainer {
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondContainer .mainLoginContainer {
    height: 600px;
    width: 500px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.815);
}

.mainLoginContainer .loginContainer {
    height: inherit;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginContainer h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(36, 36, 36);
}

.loginContainer h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(92, 92, 92);
}

.loginContainer .socialsContainer {
    height: 80px;
    width: 315px;
    margin-bottom: 50px;
}

.loginContainer .facebookContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 315px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(19, 21, 143);
    cursor: pointer;
}

.loginContainer .googleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 315px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid rgb(150, 150, 150);
    cursor: pointer;
}

.facebookContainer i {
    font-size: 30px;
    color: white;
}

.googleContainer i {
    font-size: 30px;
    color: rgb(255, 8, 0);
}

.facebookContainer h3 {
    font-size: 17px;
    width: 100%;
    text-align: center;
    color: white;
}

.googleContainer h3 {
    font-size: 17px;
    width: 100%;
    text-align: center;
    color: rgb(92, 92, 92);
}

.mainContainer .contactContainer {
    height: 50px;
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactContainer button {
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: rgb(65, 65, 65);
    background-color: aliceblue;
    cursor: pointer;
    font-weight: bold;
}

.contactContainer button:hover {
    background-color: red;
    color: white;
}



